/*Inicio de la barra de navegación*/

* {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        body {
            font-family: 'Josefin Sans', sans-serif;
        }

        .navbar {
            font-size: 18px;
            background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: 10px;
        }

        .main-nav {
            list-style-type: none;
            display: none;
        }

        .nav-links,
        .logo {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
        }

        .main-nav li {
            text-align: center;
            margin: 15px auto;
        }

        .logo {
            display: inline-block;
            font-size: 22px;
            margin-top: 10px;
            margin-left: 20px;
        }

        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 24px;
        }

        .active {
            display: block;
        }

        @media screen and (min-width: 768px) {
            .navbar-toggle {
                position: absolute;
                top: 10px;
                right: 20px;
                cursor: pointer;
                color: rgba(255,255,255,0.8);
                font-size: 24px;
            }
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }

            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }

            .main-nav li {
                margin: 0;
            }

            .nav-links {
                margin-left: 40px;
            }

            .logo {
                margin-top: 0;
            }

            .navbar-toggle {
                display: none;
            }

            .logo:hover,
            .nav-links:hover {
                color: rgba(255, 255, 255, 1);
            }
            .active {
              display: block;
            }

        }
/*Fin de la barra de navegación*/



/*encabezado*/
.header{
 background-attachment: fixed;
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}

.overlay{
    margin-bottom: auto;
}

.description{
    position: absolute;
    top: 40%;
    margin: auto;
    padding: 2em;

}
.description h1{
 color:#EFDA04   ;
}
.description p{
 color:#fff;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.registro {
    margin-top: 100px;
    background-color:rgba(0,95,127,0.70);
    border-radius: 100px;
    border-style: dashed

}
.registro h2{

    color: #E8A10A
}
.buttonn{
    margin-top: 250px;
    margin-left: 800px;
}
.boton_registro{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 1px 1px 15px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 60px 30px;
  background: #1899F2;
  border: solid #000000 1px;
  text-decoration: none;
  width: 50%;
}
